.cloud/*
.storage/*
.vscode/
blueprints/automation/homeassistant/*
blueprints/script/homeassistant/*
custom_components/*
deps/*
themes/*
tts/*
www/*
zigbee2mqtt/*
aircast.xml
*.log
*.log.*
secrets.yaml
service_account.json
*.backup
*.bk
*_backup.json
home-assistant_v2.db*
known_devices.yaml
harmony_*.conf
webostv.conf
.HA_VERSION